.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(116, 16, 255);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 30px;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: rgb(51, 0, 128);
  font-size: 16px;
  position: relative;
  transition: 0.3s;
  margin-top: 15px;
}

/* hover underline effect */
.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: rgb(43, 0, 128);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.nav a:hover {
  opacity: 0.8;
}
.pitch{
    margin-left: 650px;
    color: green;
}
.img-pitch{
      margin-left: 230px;
      filter: brightness(50%);
}
.orqali{
   position: absolute ;
   color: rgb(255, 255, 255);
   font-size: 40px;
   width: 800px;
   top: 400px;
   left: 500px;
} 
.btn-sign{
  background-color: green;
  color: white  ;
  border-style: none;
  border-radius: 2px;
  height: 35px;
}
.btn-sign:hover{
  color: #CCFF00;
}
.btn-sign:active{
  opacity: 70%;
}
.btn-login{
  background-color: rgb(53, 2, 170);
  height: 30px;
  width: 150px;
  border-style: none;
  border-radius: 5px;
  margin-top: 10px;
}
.login{
  color: white;
  text-decoration: none;
}
.login1{
  color: white;
  text-decoration: none;
}
.login:active{
  opacity: 70%;
}
.onclick{
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(57, 1, 84);
  height: 100vh;
  position: absolute;
  margin-left: 1050px;
}
.btn-login1{
    background-color: red;
  height: 30px;
  width: 30px;
  border-style: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 360px;
}
.email-input{
  width: 250px;
  height: 25px;
  margin-left: 70px;
  border-radius: 5px;
  margin-top: 40px;
}
.input-password{
  width: 250px;
  height: 25px;
  margin-left: 70px;
  border-radius: 5px;
  margin-top: 20px;
}
.input-date{
    width: 250px;
  height: 25px;
  margin-left: 70px;
  border-radius: 5px;
  margin-top: 20px;
}
.btn-submit{
  width: 100px;
  background-color: rgb(0, 165, 0);
  color: white;
  border-style: none;
  border-radius: 5px;
  height: 35px;
  margin-top: 30px;
  margin-left: 150px;
}
.btn-submit:hover{
   background-color: white;
   color: rgba(0, 255, 0, 0.893);
}
.btn-submit:active{
  opacity: 60%;
}
.header-container{
  display: flex;
  background-color: #2D2641;
  height: 600px;
  margin-top: 50px;
}
.img-family{
  width: 700px;
  margin-top: 50px;
}
.f-insurance{
  color: white;
  font-size: 80px;
  font-weight: bold;
  width: 600px;
  margin-left: 150px;
}
.f-get{
  color: rgb(212, 212, 212);
  width: 500px;
  margin-left: 150px;
  font-weight: bold;
  margin-top: -40px;
}
.btn-plans{
  color: white;
  background-color: #2D2641;
  border-style: 1px solid;
  border-color: white;
  height: 40px;
  width: 170px;
  margin-left: 150px;
  margin-top: 30px;
}
.header-fonts{
  margin-top: 50px;
}