.header {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: rgb(53, 0, 128);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  text-decoration: none;
  color: rgb(51, 0, 128);
  font-size: 16px;
  position: relative;
  transition: 0.3s;
  margin-top: 15px;
}

/* hover underline effect */
.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: rgb(43, 0, 128);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.nav a:hover {
  opacity: 0.8;
}
.pitch{
    margin-left: 650px;
    color: green;
}
.img-pitch{
      margin-left: 230px;
      filter: brightness(50%);
}
.orqali{
   position: absolute ;
   color: rgb(255, 255, 255);
   font-size: 40px;
   width: 800px;
   top: 400px;
   left: 500px;
} 
.btn-sign{
  background-color: green;
  color: white  ;
  border-style: none;
  border-radius: 2px;
  height: 35px;
}
.btn-sign:hover{
  color: #CCFF00;
}
.btn-sign:active{
  opacity: 70%;
}
.btn-login{
  background-color: rgb(53, 2, 170);
  height: 30px;
  width: 150px;
  border-style: none;
  border-radius: 5px;
  margin-top: 10px;
}
.login{
  color: white;
  text-decoration: none;
}
.onclick{
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: purple;
  height: 100vh;
}
